USERS_FUNCTION_URL=https://sumativa1usuariosrolesmc2026-e4g2d6gectbgarht.brazilsouth-01.azurewebsites.net/api/users
USERS_FUNCTION_KEY=
ROLES_FUNCTION_URL=https://sumativa1usuariosrolesmc2026-e4g2d6gectbgarht.brazilsouth-01.azurewebsites.net/api/roles
ROLES_FUNCTION_KEY=
